:root {
    --backgroundColor: hsl(56, 32%, 82%);
    --gameBackgroundColor: hsl(60, 5%, 63%);
    --titleColor1: hsl(273, 94%, 81%);
    --titleColor2: hsl(36, 95%, 58%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px rgb(181, 196, 224); */
}

h1 {
    font-size: clamp(0.8em, 0.8em + 2vw, 2em);
    font-family: 'Anton', sans-serif;
    color: rgb(46, 51, 61);
}

h1 b {
    color: var(--textColor1);
    font-size: clamp(1em, 1em + 2vw, 2.5em);
}

#U,
#L {
    color: var(--titleColor1);
}

#G,
#Y {
    color: var(--titleColor2);
}

p,
h2 {
    font-family: 'Belanosima', sans-serif;
}

header {
    padding: clamp(0.8em, 0.8em + 2vw, 2em);
}

body {
    background-color: var(--backgroundColor);
}

main {
    background-color: var(--gameBackgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: clamp(0.8em, 0.8em + 2vw, 2em);
    gap: clamp(0.8em, 0.8em + 2vw, 2em);
}

button {
    width: 30%;
    height: 50px;
    transition: all 0.2s ease-in;
    border: 3px var(--titleColor1) solid;
    color: var(--titleColor1);
    background-color: inherit;
    margin: 0 auto;
    font-size: clamp(0.8em, 0.8em + 1vw, 2em);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 25px -5px var(--titleColor2);
    border: 3px var(--titleColor2) solid;
    color: var(--titleColor2);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
}

img {
    /* height: 100px;
    width: 100px; */
    height: clamp(3em, 3em + 5vw, 6em);
    width: clamp(3em, 3em + 5vw, 6em);

}